In [1]:
library(tidyverse)
library(targets)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()

In [2]:
source("../00_preprocessing/splitwrapper.R")
source(paste0("../00_preprocessing/preprocessing.R"))
source(paste0("../01_milo/milo.R"))
source(paste0("../01_milo/milo_plotting.R"))
source(paste0("../00_bmp_preprocessing/bmp_preprocessing.R"))

In [18]:
obj = qs::qread('../00_bmp_preprocessing/_targets/objects/bmp1_fgf1_mapped')

In [19]:
obj

An object of class Seurat
60617 features across 45622 samples within 4 assays
Active assay: SCT (26707 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [20]:
obj@meta.data %>% pull(labels) %>% unique

 [1] "NG2_OPC2"                  "b2_Tany"
 [3] "Endothelial"               "NG2_OPC2-Microglia"
 [5] "b1_Tanycytes"              "a1_Tany-Astrocytes"
 [7] "NFOL"                      "MOL"
 [9] "Astrocytes"                "Parstuber2A-ParsTuber1"
[11] "Epend"                     "a2_Tanycytes"
[13] "Fibroblasts2-Fibroblasts3" "a2_Tanycytes-b1_Tanycytes"
[15] "Microglia"                 "Mural_Cells2"
[17] "MOL-a2_Tanycytes"

In [21]:
obj = obj %>%
subset_exp_by_time('all')
obj

An object of class Seurat
60617 features across 45622 samples within 4 assays
Active assay: SCT (26707 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [22]:
obj = obj %>%
single_split('Astrocytes') 

obj

An object of class Seurat
60617 features across 13269 samples within 4 assays
Active assay: SCT (26707 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [ ]:
obj = obj %>%
project_bmp1_into_fgf1_unimod 
obj

vst.flavor='v2' set, setting model to use fixed slope and exclude poisson genes.

Calculating cell attributes from input UMI matrix: log_umi

Total Step 1 genes: 19361

Total overdispersed genes: 17296

Excluding 2065 genes from Step 1 because they are not overdispersed.

Variance stabilizing transformation of count matrix of size 21225 by 11238

Model formula is y ~ log_umi

Get Negative Binomial regression parameters per gene

Using 2000 genes, 5000 cells

  |======================================================================| 100%

Setting estimate of  195 genes to inf as theta_mm/theta_mle < 1e-3

# of step1 poisson genes (variance < mean): 0

# of low mean genes (mean < 0.001): 2088

Total # of Step1 poisson genes (theta=Inf; variance < mean): 225

Total # of poisson genes (theta=Inf; variance < mean): 3894

Calling offset model for all 3894 poisson genes

Found 197 outliers - those will be ignored in fitting/regularization step


Ignoring theta inf genes

Replacing fit params for 3894 poisson genes by theta=Inf

Setting min_variance based on median UMI:  0.04

Second step: Get residuals using fitted parameters for 21225 genes

  |======================================================================| 100%

Computing corrected count matrix for 21225 genes

  |======================================================================| 100%

Calculating gene attributes

Wall clock passed: Time difference of 3.075662 mins

Determine variable features

Place corrected count matrix in counts slot

Regressing out batch

Centering data matrix

Set default assay to SCT

Warning message:
“Invalid name supplied, making object name syntactically valid. New object name is Seurat..SCTransform.RNA; see ?make.names for more details on syntax validity”
02:48:59 UMAP embedding parameters a = 0.9922 b = 1.112

02:48:59 Read 11238 rows and found 30 numeric columns

02:48:59 Using Annoy for neighbor search, n_neighbors = 30

02:48:59 Building Annoy index with metric = cosine, n_trees = 50

0%   10   20   30   40   50   60   70   80   90   100%

[----|----|----|----|----|----|----|----|----|----|

*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
*
|

02:49:00 Writing NN index file to temp file /scratch/nmq407/R_tmp//RtmpY4xZ2Y/file388b3940edd7

02:49:00 Searching Annoy index using 1 thread, search_k = 3000

02:49:04 Annoy recall = 100%

02:49:06 Commencing smooth kNN distance calibration using 1 thread
 with target n_neighbors = 30

02:49:09 Initializing from normalized Laplacian + noise (using irlba)

02:49:09 Commencing optimization for 200 epochs, with 451230 positive edges

02:49:23 Optimization finished

In [ ]:
obj = obj %>%
prep_obj_for_milo

obj

In [ ]:
obj@meta.data %>% distinct(batch)

In [28]:
qs::qread('_targets/objects/da_results_00_MOL_sct___BMP1_LDNvVehicle')

NULL

In [34]:
qs::qread('_targets/objects/design_df_MOL_bmp_only') %>% make_model_matrix_bmp1

    groupLDN.Day5.obob groupVehicle.Day5.obob
B18 1                  0
B21 1                  0
B12 0                  1
B8  0                  1
B6  1                  0
B7  1                  0
B22 1                  0
B14 1                  0
B3  0                  1
B13 1                  0
B4  1                  0
B19 0                  1
B2  1                  0
B15 0                  1
B23 0                  1

In [43]:
qs::qread('_targets/objects/da_results_00_Microglia_unimod___BMP1_LDNvVehicle') %>% filter(SpatialFDR < 0.1)

   logFC      logCPM   F         PValue       FDR         Nhood SpatialFDR
72  3.2204477 14.27249 19.544365 2.185938e-05 0.002076641 72    0.001927968
23  3.0494654 14.13509 17.188611 6.049183e-05 0.002873362 23    0.002750319
30  2.8427982 13.99561 12.638395 5.268502e-04 0.007244694 30    0.007044819
31  2.1089407 14.31137 12.997530 4.424138e-04 0.007244694 31    0.007044819
34  3.2261491 13.84941 12.795774 5.338196e-04 0.007244694 34    0.007044819
38  3.5058309 14.14197 14.449261 3.336469e-04 0.007244694 38    0.007044819
44  2.2031702 14.32906 12.971572 4.515046e-04 0.007244694 44    0.007044819
71  2.4014522 14.01472 11.875089 7.655567e-04 0.009090986 71    0.008954825
66  2.3559680 13.81804 11.357702 9.881812e-04 0.010430801 66    0.010470424
82  2.4608674 13.98261 10.172934 1.784349e-03 0.016951315 82    0.017019261
85  1.8981687 14.27233  9.970105 1.987200e-03 0.017162178 85    0.017058959
3  -1.0858273 14.48499  9.036237 3.174675e-03 0.025132842  3    0.024587609
6  -1.4825673 13.90109  7.762456 6.129143e-03 0.039351409  6    0.037796580
65 -1.2983826 14.12792  7.875403 5.778524e-03 0.039351409 65    0.037796580
94 -1.4145842 14.12243  7.736316 6.213380e-03 0.039351409 94    0.037796580
8   2.1856010 13.50114  6.675385 1.090492e-02 0.042499058  8    0.041487379
10  1.3786626 14.33772  6.423528 1.244210e-02 0.042499058 10    0.041487379
12  1.8824701 14.03150  6.959782 9.348803e-03 0.042499058 12    0.041487379
36  1.8481043 14.01072  6.410989 1.252604e-02 0.042499058 36    0.041487379
39  1.0969428 14.69117  6.790905 1.022585e-02 0.042499058 39    0.041487379
42  1.8068640 13.90629  6.586072 1.140559e-02 0.042499058 42    0.041487379
51  1.4606076 14.02536  6.674960 1.087716e-02 0.042499058 51    0.041487379
53  1.9616023 13.89940  7.121420 8.582332e-03 0.042499058 53    0.041487379
54 -1.0932087 14.31081  6.447340 1.228433e-02 0.042499058 54    0.041487379
56 -1.2319821 14.08115  6.505464 1.190789e-02 0.042499058 56    0.041487379
69  1.9490984 13.79334  6.603575 1.129947e-02 0.042499058 69    0.041487379
78  3.9457729 13.53229  7.639318 8.600471e-03 0.042499058 78    0.041487379
84 -1.1300860 14.33980  6.665557 1.093183e-02 0.042499058 84    0.041487379
7   1.6026114 14.02979  5.503167 2.048712e-02 0.067112979  7    0.065571409
70 -1.0374627 14.10554  5.224722 2.387827e-02 0.075614512 70    0.073627617
22 -0.9238504 14.23053  4.676155 3.240544e-02 0.093288379 22    0.090317643
67  1.3481206 14.19914  4.688285 3.218559e-02 0.093288379 67    0.090317643
83 -1.2429732 13.90460  4.789957 3.040361e-02 0.093172352 83    0.090317643
86  1.4028652 13.98965  4.607457 3.368091e-02 0.094108434 86    0.091333484
27  0.9114047 14.53750  4.453968 3.672654e-02 0.096917259 27    0.094220306
74  1.2745122 13.78911  4.454454 3.671643e-02 0.096917259 74    0.094220306
60  2.3478206 13.68917  4.550859 3.886840e-02 0.099797241 60    0.097460194
2  -0.8271728 14.63168  4.259559 4.100936e-02 0.102523407  2    0.099723398

In [50]:
qs::qread('_targets/objects/combined_da_results_bmp_only_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

     labels n

In [51]:
qs::qread('_targets/objects/combined_da_results_unimod_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels       n
1 a2_Tanycytes  8
2 Microglia    38

In [63]:
qs::qread('_targets/objects/combined_da_results_unimod_all.obob5v5') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels       n
1 a2_Tanycytes  18
2 Astrocytes   280
3 b1_Tanycytes  22
4 Epend         18
5 Microglia      7
6 MOL           74
7 NG2_OPC2      93

In [64]:
qs::qread('_targets/objects/combined_da_results_unimod_all.BMP1_Vehicle_vs_FGF1_Veh_PF') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels       n
1 a2_Tanycytes 46
2 Astrocytes   51
3 b1_Tanycytes 23
4 b2_Tany      16
5 Epend         6
6 Microglia     5
7 MOL          85
8 NG2_OPC2     13

In [52]:
qs::qread('_targets/objects/combined_da_results_sct_batchvar_forb_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels       n
1 a2_Tanycytes 17
2 Microglia    15

In [54]:
qs::qread('_targets/objects/combined_da_results_sct_batchvar_all_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels    n
1 Microglia 10

In [55]:
qs::qread('_targets/objects/combined_da_results_sct_forb_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n())

  labels       n
1 a2_Tanycytes  8
2 Astrocytes    1
3 Microglia    39

In [56]:
qs::qread('_targets/objects/combined_da_results_sct_forb_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n()) %>% 
arrange(desc(n))

  labels       n
1 Microglia    39
2 a2_Tanycytes  8
3 Astrocytes    1

In [57]:
qs::qread('_targets/objects/combined_da_results_sct_forb_all.obob5v5') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n()) %>% 
arrange(desc(n))

  labels       n
1 Astrocytes   252
2 b1_Tanycytes  73
3 NG2_OPC2      47
4 MOL           46
5 a2_Tanycytes  40
6 NFOL          17
7 Microglia      8
8 b2_Tany        4

In [58]:
qs::qread('_targets/objects/combined_da_results_sct_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n()) %>% 
arrange(desc(n))

  labels    n
1 Microglia 23

In [60]:
qs::qread('_targets/objects/combined_da_results_sct_batchvar_forb_all.BMP1_LDNvVehicle') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n()) %>% 
arrange(desc(n))

  labels       n
1 a2_Tanycytes 17
2 Microglia    15

In [61]:
qs::qread('_targets/objects/combined_da_results_sct_batchvar_forb_all.obob5v5') %>%
filter(polarity != 'none') %>%
group_by(labels) %>%
summarise(n = n()) %>% 
arrange(desc(n))

  labels       n
1 b1_Tanycytes 62
2 NG2_OPC2     48
3 MOL          46
4 a2_Tanycytes 35
5 Astrocytes   25
6 NFOL         22
7 Epend        10
8 Microglia     4
9 b2_Tany       3

In [65]:
obj

An object of class Seurat
57044 features across 13269 samples within 4 assays
Active assay: SCT (23134 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 4 dimensional reductions calculated: pca, umap, mergedumap, mergedpca

In [66]:
qs::qread('_targets/objects/obj_MOL_bmp_only')

An object of class Seurat
51025 features across 1976 samples within 4 assays
Active assay: SCT (17115 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [67]:
qs::qread('_targets/objects/obj_MOL_sct')

An object of class Seurat
53825 features across 5999 samples within 4 assays
Active assay: SCT (19915 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [68]:
qs::qread('_targets/objects/obj_MOL_sct_batchvar_all')

An object of class Seurat
53825 features across 5999 samples within 4 assays
Active assay: SCT (19915 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [69]:
qs::qread('_targets/objects/obj_MOL_sct_batchvar_forb')

An object of class Seurat
53825 features across 5999 samples within 4 assays
Active assay: SCT (19915 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [70]:
qs::qread('_targets/objects/obj_MOL_sct_forb')

An object of class Seurat
53825 features across 5999 samples within 4 assays
Active assay: SCT (19915 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca

In [71]:
qs::qread('_targets/objects/obj_MOL_unimod')

An object of class Seurat
53825 features across 5999 samples within 4 assays
Active assay: SCT (19915 features, 3000 variable features)
 3 other assays present: RNA, integrated, prediction.score.labels
 6 dimensional reductions calculated: pca, umap, mergedumap, mergedpca, sctumap, sctpca