In [2]:
library(tidyverse)
library(ggplot2)
library(Seurat)
library(targets)

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.3.6      ✔ purrr   0.3.4
✔ tibble  3.1.8      ✔ dplyr   1.0.10
✔ tidyr   1.2.1      ✔ stringr 1.4.1
✔ readr   2.1.2      ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Attaching SeuratObject

Attaching sp

In [ ]:
obj_fgf1 = qs::qread('../')

In [1]:
obj_fgf1

ERROR: Error in eval(expr, envir, enclos): object 'obj_fgf1' not found

In [7]:
obj = readRDS('/data/petar/fgf1/received/SCOP_2022_0214/Output/data//aggregated-filtered//221115_brain/221115_brain_rna-seurat.rds')
obj

An object of class Seurat
52248 features across 8443 samples within 2 assays
Active assay: SCT (24279 features, 3000 variable features)
 1 other assay present: RNA
 3 dimensional reductions calculated: hto.tsne, pca, umap

In [12]:
bmp_meta = readxl::read_xlsx('../data/meta/0214_scnRNA_metadata_NA041122.xlsx')

In [13]:
.munge_bmp_meta = function(bmp_meta){
    colnames(bmp_meta) = bmp_meta %>% colnames %>% str_replace(' ', '_') %>% str_replace('/', '_') %>% str_to_lower
    bmp_meta = bmp_meta %>% select(sample_name, condition_1,  collection_date)  %>%
        mutate(sample_name = factor(sample_name)) %>%
        mutate(sample_name = paste0("B", sample_name)) %>%
        mutate(condition_1 = factor(condition_1)) %>%
        mutate(collection_date = factor(collection_date)) %>%
        rename(hash.mcl.ID = sample_name) %>%
        rename(treatment = condition_1) %>%
        mutate(batch = 'Batch 4')
    bmp_meta
}

In [14]:
.munge_bmp_meta(bmp_meta) %>% head

  hash.mcl.ID treatment collection_date batch
1 B2          LDN       221012          Batch 4
2 B3          Vehicle   221012          Batch 4
3 B4          LDN       221012          Batch 4
4 B6          LDN       221012          Batch 4
5 B7          LDN       221012          Batch 4
6 B8          Vehicle   221012          Batch 4

In [ ]:
obj %>% `[[` %>% head

In [ ]:
obj_greedy = readRDS('/data/petar/fgf1/received/SCOP_2022_0214/Output/data//aggregated-filtered//221115_brain_greedy/221115_brain_rna-seurat.rds')
obj_greedy

In [ ]:
options(repr.plot.width=20, repr.plot.height=10)
DimPlot(obj, reduction = "umap", group.by = "seurat_clusters", label = TRUE)

In [ ]:
options(repr.plot.width=20, repr.plot.height=10)
DimPlot(obj, reduction = "umap", group.by = "hash.mcl.ID", label = TRUE)

In [ ]:
options(repr.plot.width=20, repr.plot.height=10)
DimPlot(obj_greedy, reduction = "umap", group.by = "seurat_clusters", label = TRUE)

In [ ]:
options(repr.plot.width=20, repr.plot.height=10)
DimPlot(obj_greedy, reduction = "umap", group.by = "hash.mcl.ID", label = TRUE)

In [ ]:
add_meta_to_bmp_obj = function(bmp_obj, bmp_meta){
    colnames(bmp_meta) = bmp_meta %>% colnames %>% str_replace(' ', '_') %>% str_replace('/', '_') %>% str_to_lower
    bmp_meta = bmp_meta %>% select(sample_name, condition_1,  collection_date)  %>%
        mutate(sample_name = factor(sample_name)) %>%
        mutate(condition_1 = factor(condition_1)) %>%
        mutate(collection_date = factor(collection_date)) %>%
        rename(hash.mcl.ID = sample_name) %>%
        rename(treatment = condition_1) %>%
        mutate(batch = 'Batch 4')
    
    bmp_obj@meta.data = bmp_obj %>% `[[` %>% rownames_to_column %>% left_join(bmp_meta, by = hash.mcl.ID) %>% column_to_rownames

    bmp_obj
}

In [4]:
munge_meta = function(bmp_meta){
    colnames(bmp_meta) = bmp_meta %>% colnames %>% str_replace(' ', '_') %>% str_replace('/', '_') %>% str_to_lower
    bmp_meta = bmp_meta %>% select(sample_name, condition_1,  collection_date)  %>%
        mutate(sample_name = factor(sample_name)) %>%
        mutate(condition_1 = factor(condition_1)) %>%
        mutate(collection_date = factor(collection_date)) %>%
        rename(hash.mcl.ID = sample_name) %>%
        rename(treatment = condition_1) %>%
        mutate(batch = 'Batch 4')
    bmp_meta
}

In [ ]:
source('bmp_preprocessing.R')

In [ ]:
source('bmp_preprocessing.R')
obj = readRDS('/data/petar/fgf1/received/SCOP_2022_0214/Output/data//aggregated-filtered//221115_brain/221115_brain_rna-seurat.rds')
meta = readxl::read_xlsx('../data/meta/0214_scnRNA_metadata_NA041122.xlsx')
obj = add_meta_to_bmp_obj(obj, meta)
obj@meta.data

In [2]:
source('bmp_preprocessing.R')
exp_bmp = qs::qread('_targets/objects/exp_bmp')
bmp_meta = qs::qread('_targets/objects/bmp_meta')
exp_bmp = add_meta_to_bmp_obj(exp_bmp, bmp_meta)

In [5]:
munge_meta(bmp_meta)

   hash.mcl.ID treatment collection_date batch
1  2           LDN       221012          Batch 4
2  3           Vehicle   221012          Batch 4
3  4           LDN       221012          Batch 4
4  6           LDN       221012          Batch 4
5  7           LDN       221012          Batch 4
6  8           Vehicle   221012          Batch 4
7  12          Vehicle   221012          Batch 4
8  13          LDN       221013          Batch 4
9  14          LDN       221013          Batch 4
10 15          Vehicle   221013          Batch 4
11 18          LDN       221013          Batch 4
12 19          Vehicle   221013          Batch 4
13 21          LDN       221013          Batch 4
14 22          LDN       221013          Batch 4
15 23          Vehicle   221013          Batch 4

In [ ]:
obj_list = list(obj, obj, obj)

In [ ]:
obj_merged = merge(obj_list[[1]], unlist(obj_list)[2:3])

In [ ]:
obj_merged

In [ ]:
obj_merged %>% `[[` %>% rownames_to_column %>% left_join(meta) %>% column_to_rownames

In [ ]:
obj2 = qs::qread('../00_preprocessing/_targets/objects/exp_RElabelled_neuron')
obj2@meta.data

In [3]:
obj_merged@meta.data

ERROR: Error in eval(expr, envir, enclos): object 'obj_merged' not found