In [1]:
library(tidyverse)
library(Seurat)

source('milo_cellbender.R')

── Attaching packages ─────────────────────────────────────── tidyverse 1.3.2 ──
✔ ggplot2 3.4.2     ✔ purrr   0.3.4
✔ tibble  3.2.1     ✔ dplyr   1.1.2
✔ tidyr   1.2.1     ✔ stringr 1.4.1
✔ readr   2.1.2     ✔ forcats 0.5.2
── Conflicts ────────────────────────────────────────── tidyverse_conflicts() ──
✖ dplyr::filter() masks stats::filter()
✖ dplyr::lag()    masks stats::lag()
Loading required package: SeuratObject

Loading required package: sp


Attaching package: ‘SeuratObject’


The following object is masked from ‘package:base’:

    intersect

In [2]:
other_clusters = qs::qread('../00_cellbender/_targets/objects/obj_cb_other_01') %>% 
    set_labels_to_labels_chunk %>%
    set_batch_to_lane %>%    
    prep_obj_for_milo_cb_v01 %>%
    `[[` %>%
    pull(labels) %>% 
    unique
other_clusters

[1] "g1"     "g3"     "g2"     "g4"     "g_drop" "g7"

In [3]:
neuron_clusters = qs::qread('../00_cellbender/_targets/objects/obj_cb_neuron_00') %>% 
    set_labels_to_labels_chunk %>%
    set_batch_to_lane %>%    
    prep_obj_for_milo_cb_v01 %>%
    `[[` %>%
    pull(labels) %>% 
    unique
neuron_clusters

[1] "n1"     "n0"     "n_drop" "n6"     "n4"     "n2"     "n8"     "n5"
[9] "n3"

In [4]:
day_splits = tibble(object = rlang::syms(c("exp_labelled_other", "exp_labelled_neuron")))
# days = tibble(day = c("Day5", "Day14", "all"))
days = tibble(day = c("Day5", "Day14"))
day_splits = tidyr::crossing(day_splits, days)
day_splits

  object              day
1 exp_labelled_other  Day14
2 exp_labelled_other  Day5
3 exp_labelled_neuron Day14
4 exp_labelled_neuron Day5

In [5]:
other_clusters_tibble = tibble(label = other_clusters) %>% 
tidyr::crossing(day_splits) %>%
filter(str_detect(as.character(object), 'other'))


neuron_clusters_tibble = tibble(label = neuron_clusters) %>% 
tidyr::crossing(day_splits) %>%
filter(str_detect(as.character(object), 'neuron'))

clusters_tibble = rbind(other_clusters_tibble, neuron_clusters_tibble)
clusters_tibble = clusters_tibble %>% 
mutate(cluster = label) %>%
rowwise %>%
mutate(label = case_when(day != "all" ~ paste0(c(day, as.character(label)), collapse='.'),
                          TRUE ~ paste0(label, collapse='.'))) %>%
filter(!str_detect(cluster, 'unassigned'))
clusters_tibble

   label        object              day   cluster
1  Day14.g_drop exp_labelled_other  Day14 g_drop
2  Day5.g_drop  exp_labelled_other  Day5  g_drop
3  Day14.g1     exp_labelled_other  Day14 g1
4  Day5.g1      exp_labelled_other  Day5  g1
5  Day14.g2     exp_labelled_other  Day14 g2
6  Day5.g2      exp_labelled_other  Day5  g2
7  Day14.g3     exp_labelled_other  Day14 g3
8  Day5.g3      exp_labelled_other  Day5  g3
9  Day14.g4     exp_labelled_other  Day14 g4
10 Day5.g4      exp_labelled_other  Day5  g4
11 Day14.g7     exp_labelled_other  Day14 g7
12 Day5.g7      exp_labelled_other  Day5  g7
13 Day14.n_drop exp_labelled_neuron Day14 n_drop
14 Day5.n_drop  exp_labelled_neuron Day5  n_drop
15 Day14.n0     exp_labelled_neuron Day14 n0
16 Day5.n0      exp_labelled_neuron Day5  n0
17 Day14.n1     exp_labelled_neuron Day14 n1
18 Day5.n1      exp_labelled_neuron Day5  n1
19 Day14.n2     exp_labelled_neuron Day14 n2
20 Day5.n2      exp_labelled_neuron Day5  n2
21 Day14.n3     exp_labelled_neuron Day14 n3
22 Day5.n3      exp_labelled_neuron Day5  n3
23 Day14.n4     exp_labelled_neuron Day14 n4
24 Day5.n4      exp_labelled_neuron Day5  n4
25 Day14.n5     exp_labelled_neuron Day14 n5
26 Day5.n5      exp_labelled_neuron Day5  n5
27 Day14.n6     exp_labelled_neuron Day14 n6
28 Day5.n6      exp_labelled_neuron Day5  n6
29 Day14.n8     exp_labelled_neuron Day14 n8
30 Day5.n8      exp_labelled_neuron Day5  n8

errored_labels = targets::tar_meta() %>%
    filter(!is.na(error)) %>% 
    select(name) %>%
    rowwise %>%
    filter(str_detect(name, 'da_results_00_')) %>%
    mutate(name = str_split(name, '___', n=2)[[1]][1]) %>%
    mutate(name = str_replace(name, 'da_results_00_', '')) %>%
    distinct %>% 
    pull(name)
errored_labels

clusters_tibble = clusters_tibble %>%
filter(!(label %in% errored_labels))

clusters_tibble

In [6]:
qs::qsave(clusters_tibble, 'clusters_tibble_labels_chunk.qs')